#title {
    color:royalblue;
    text-align: center;
}
.idk {
    color:red;
    font-size:x-large;
}
.proud {
    color:green;
    font-size:larger;
}
.chill {
    color:brown;
    font-size:medium;
}
body {
    background-color:aqua;
}